@media (max-width: 1250px) {
  .nav {
    gap: 60px;
    font-size: 1rem;
  }
}
@media (max-width: 1190px) {
  .buscar {
    width: 200px;
    display: flex;
  }
  .buscar input {
    width: 150px;
  }
  .nav {
    gap: 50px;
  }
  .nav li:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .header-pai {
    grid-template-columns: 20px 1fr 20px;
  }
  .logo {
    display: none;
  }
  .logo2 {
    display: block;
  }
  .nav {
    display: none;
    position: absolute;
    background: #290742;
    width: 300px;
    border-radius: 5px;
    z-index: 200;
    height: 300px;
    animation: show-nav 0.5s forwards;
  }
  .nav.active {
    display: block;
  }
  @keyframes show-nav {
    from {
      top: 50px;
    }
    to {
      top: 120px;
    }
  }
  .btn-mobile {
    display: block;
    background: none;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
  }
  .btn-mobile span {
    border-top: 2px solid #4fff4b;
    width: 20px;
  }
  .btn-mobile span::after,
  .btn-mobile span::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #4fff4b;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  .btn-mobile.active span {
    border-color: transparent;
  }
  .btn-mobile.active span::before {
    transform: rotate(135deg);
  }
  .btn-mobile.active span::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .nav a {
    display: block;
    padding: 20px 0px;
  }

  #desktop-buscar {
    display: none;
  }
  .home {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
  .home-img {
    margin-top: 80px;
    margin-bottom: 0px;
  }
  .home-text {
    grid-row: 2;
    margin-bottom: 30px;
  }
  .meio {
    grid-template-columns: 20px 1fr 1fr 20px;
  }
  .meio-img {
    grid-column: 2/4;
    margin: 0 auto;
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
  .footer {
    display: grid;
    grid-template-columns: 20px 1fr 1fr 20px;
  }
  .footer div {
    grid-column: 2/4;
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  body {
    grid-template-columns: 0 1fr 0;
  }
  .buscar input {
    width: 150px;
    margin-left: 15px;
  }

  .header-pai {
    grid-template-columns: 5px 1fr 5px;
  }
  .meio {
    grid-template-columns: 5px 1fr 1fr 5px;
  }

  .footer {
    grid-template-columns: 5px 1fr 1fr 5px;
  }

  .btn-mobile {
    font-size: 1rem;
  }

  .home .home-text h1 {
    font-size: 1.2rem;
  }
  .home .home-text p {
    font-size: 0.7rem;
  }
  .nav a {
    font-size: 1rem;
  }
  .logo2 {
    display: block;
    width: 100px;
  }
  .meio-img h1 {
    font-size: 1.2rem;
  }
  .meio-text h1 {
    font-size: 1.2rem;
  }
  .meio-paragrafo {
    font-size: 0.7rem;
  }
  .footer div h1 {
    font-size: 1.2rem;
  }
  .footer div p {
    font-size: 0.7rem;
  }
}
